body	{
	font-family: Helvetica, sans-serif;
	color: gray;
}

h1 {
	font-family: Memphis, 'Roboto Slab', serif;
	font-size: 
	color: green;
}
	

h2	{
	font-family: Helvetica, sans-serif;
	color:
}
	

h3	{
	font-family: Memphis, 'Roboto Slab 400', serif;

}
	

li


